Source: ros-foxy-bno055
Section: misc
Priority: optional
Maintainer: flynneva <evanflynn.msu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, python3-serial, ros-foxy-ament-copyright <!nocheck>, ros-foxy-ament-flake8 <!nocheck>, ros-foxy-ament-pep257 <!nocheck>, ros-foxy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-bno055
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-serial, ros-foxy-example-interfaces, ros-foxy-rclpy, ros-foxy-std-msgs, ros-foxy-ros-workspace
Description: Bosch BNO055 IMU driver for ROS2
